body{
      max-width: 100vw;
      max-height: 100vh;
      overflow: hidden;
      height: 100vh;
      background-size: cover;
      background-image: url("../pictures/header-bg.png");
      background-attachment: fixed;
      background-repeat: no-repeat;
  }


.hakkinda{
      margin: 50px 10%;
      color: white;
}

.hakkinda h2{
      text-decoration: underline;
}