/******************* GLOBAL ************************************************/






body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    background-image: url("../pictures/login-bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.login-part {
    margin: auto;
    margin-top: 50px;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 50%;
    height: 18%;
}

form {
    width: 85%;
}

.user-type-btn {
    width: 70%;
    background-color: #7F77FF30;
    padding: 0 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.musteri-btn {
    background-color: #7F77FF;
    padding: 5px;
    border-radius: 25px;
    width: 60%;
    margin-left: -30px;
    text-align: center;
    color: #fff;
    user-select: none;
}

.firma-btn {
    user-select: none;
}

.submit-btn {
    background-color: #7D75FD;
}

.logo {
    width: 60%;
}

.input {
    font-weight: 500;
}

.form-control {
    background-color: #7F77FF30;
}

.login-link {
    text-decoration: none;
    color: #7F77FF;
}